
@{
    ViewData["Title"] = "Index";
}

<div class="select-car">
    <div class="select-car__wrap container">
        <div class="select-car__header">
            <div class="select-car__title">Выберите свой автомобиль</div>
            <div class="select-car__buttons">
                <span class="select-car__show-all" style="display: initial">Показать полный список</span>
                <span class="select-car__show-popular" style="display: none">Скрыть полный список</span>
            </div>
        </div>
    </div>
    <div class="select-car__main container">
        <div class="select-car__list container">
            <ul id="select-car__enum">
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
                <li>F</li>
                <li>G</li>
                <li>H</li>
                <li>I</li>
                <li>J</li>
                <li>K</li>
                <li>L</li>
                <li>M</li>
                <li>N</li>
                <li>O</li>
                <li>P</li>
                <li>R</li>
                <li>S</li>
                <li>T</li>
                <li>V</li>
                <li>Г</li>
                <li>З</li>
                <li>И</li>
                <li>Л</li>
                <li>М</li>
                <li>О</li>
                <li>У</li>
                <li id="all-cars">Все авто</li>
            </ul>
        </div>
    </div>
</div>

