
@{
    ViewData["Title"] = "MenuAccessories";
}

<div id="menuAccessories">
    <div class="boxContainer">
        <div class="boxTitle d-flex flex-row">
            <h4 class="boxTitleText">Фильтр по аксессуарам</h4>
            <div class="filterReset">
                <a href="#">сбросить все</a>
            </div>
            <div class="boxTitleBoth"></div>
        </div>
        <div class="boxContent">
            <form asp-controller="Catalog" asp-action="MenuAccessories" method="post">
                <div class="accessoriesCheckbox d-flex flex-row">
                    <div class="form-check saleCheckboxContainer">
                        <input class="form-check-input" type="checkbox" name="sale" value="" />
                        <label>
                            <img src="/image/menu-accessories-menu/sale.png" alt="Alternate Text" />
                        </label>
                        <label class="form-check-label" for="sale">Распродажа</label>
                    </div>
                    <div class="form-check newCheckboxContainer">
                        <input class="form-check-input" type="checkbox" name="new" value="" />
                        <label>
                            <img src="/image/menu-accessories-menu/new.png" alt="Alternate Text" />
                        </label>
                        <label class="form-check-label" for="new">Новинки</label>
                    </div>
                </div>
                <div class="accessoriesSelect">
                    <label for="carCarpetsSelect">Автомобильные коврики</label>
                    <select class="form-control form-control-sm" id="carCarpetsSelect">
                        <option value="value">1</option>
                        <option value="value">2</option>
                        <option value="value">3</option>
                        <option value="value">4</option>
                        <option value="value">5</option>
                    </select>
                    <label for="carWiperBlades">Щетки стеклоочистителя</label>
                    <select class="form-control form-control-sm" id="carWiperBlades">
                        <option value="value">1</option>
                        <option value="value">2</option>
                        <option value="value">3</option>
                    </select>
                    <label for="carRoofRacks">Багажники</label>
                    <select class="form-control form-control-sm" id="carRoofRacks">
                        <option value="value">1</option>
                        <option value="value">2</option>
                        <option value="value">3</option>
                    </select>
                    <label for="carWheelCovers">Колпаки на колеса</label>
                    <select class="form-control form-control-sm" id="carWheelCovers">
                        <option value="value">1</option>
                        <option value="value">2</option>
                        <option value="value">3</option>
                    </select>
                    <label for="carDeflectors">Дефлекторы</label>
                    <select class="form-control form-control-sm" id="carDeflectors">
                        <option value="value">1</option>
                        <option value="value">2</option>
                        <option value="value">3</option>
                    </select>
                    <label for="carMudFlaps">Брызговики</label>
                    <select class="form-control form-control-sm" id="carMudFlaps">
                        <option value="value">1</option>
                        <option value="value">2</option>
                        <option value="value">3</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Применить</button>
                </div>
            </form>
        </div>
    </div>
</div>

